:root {
    --background-color-dark: #2b2b2b;
    --text-color-dark: #5ea1a1;
    --background-color-light: #f0f0f0;
    --text-color-light: #2b2b2b;
    --highlight-color: #41b0a3;
    --button-background-dark: #3b3b3b;
    --button-background-light: #f5f5f5;
    --button-text-color-dark: #5ea1a1;
    --button-text-color-light: #5ea1a1;
    --button-hover-color-dark: #5ea1a1;
    --button-hover-color-light: #338733;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

h1, h2 {
    background-color: var(--button-background-dark);
    color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px var(--shadow-color);
}

h1 {
    font-size: 2.5rem;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
    animation: slideIn 0.5s ease;
}

h2 {
    font-size: 1.5rem;
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.button-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container a {
    text-decoration: none;
}

.button-container button {
    width: 200px;
    height: 60px;
    padding: 0 11px;
    font-size: 1.2rem; /* Aumentar el tamaño de fuente */
    color: var(--button-text-color-dark);
    background-color: var(--button-background-dark);
    border: 2px solid var(--highlight-color);
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para el efecto de sombra */
    box-shadow: 0 4px 8px var(--shadow-color); /* Sombra para dar profundidad */
}

.button-container button:hover {
    background-color: var(--button-hover-color-dark);
    color: var(--background-color-dark);
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--shadow-color);
}

.button-container button:active {
    transform: scale(0.95); /* Efecto de clic */
}

/* Responsive design */
@media (max-width: 480px) {
    .expandable-content {
        display: none;
        margin-top: 10px;
        width: 90%;
        margin: 10px auto;
    }

    .expandable-content.visible {
        display: block;
    }

    .expandable-button {
        display: block;
        width: 90%;
        padding: 10px;
        margin: 10px auto;
        background-color: var(--button-background-dark);
        color: var(--highlight-color);
        border: 2px solid var(--highlight-color);
        text-align: center;
        cursor: pointer;
        border-radius: 15px;
        transition: transform 0.2s;
    }

    .expandable-button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px var(--shadow-color);
    }

    h2 {
        display: none; /* Ocultar h2 en dispositivos móviles */
    }

    .toggle-theme, .another {
        position: relative; /* Cambiado a relativo para evitar problemas en móviles */
        margin-top: 20px; /* Mover botones hacia abajo */
        width: 90%; /* Ajustar ancho de botones en móviles */
        padding: 10px; /* Espaciado interno */
        background-color: var(--button-background-dark); /* Color de fondo del botón */
        border: 2px solid var(--highlight-color); /* Color del borde */
        color: var(--highlight-color); /* Color del texto */
        cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
        border-radius: 5px; /* Bordes redondeados */
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Transición suave */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
        font-size: 1.1rem; /* Aumentar tamaño de la fuente para mejor legibilidad */
        text-align: center; /* Centrar texto */
    }
    
    .toggle-theme:hover, .another:hover {
        background-color: var(--highlight-color); /* Color de fondo al pasar el mouse */
        color: var(--background-color-light); /* Color de texto al pasar el mouse */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Aumentar sombra al pasar el mouse */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 481px) {
    .toggle-theme {
        position: absolute;
        top: 20px; /* Posición en la parte superior */
        left: 20px; /* Posición a la izquierda */
    }

    .another {
        position: absolute;
        top: 20px; /* Posición en la parte superior */
        right: 20px; /* Posición a la derecha */
    }
}
